@import "bourbon";
@import "normalize";

html{ @include box-sizing(border-box); }


/* colors */
$purple:rgb(92,75,81);
$blue:rgb(140,190,178);
$yellow:rgb(242,235,191);
$orange:rgb(243,181,98);
$pink:rgb(240,96,96);

$light:#bbb;
$medium:#777;
$dark:#fff;

/* fonts*/
$font: 'Quicksand', sans-serif;

html {
	background:$dark;
	color:$light;
	font-family:$font;
	font-size:16px;
	}

body {
	margin:0 auto;
	}

a {
	color:$medium;
	font-weight:800;
	text-decoration:none;
	}

h1 {font-weight:400;}

header {
	background:$dark;

	h1 {
		padding-top:1rem;	
		margin:0 auto;
		max-width:960px;	
		}	

	nav {
		margin:0 auto;
		max-width:960px;

		ul {
			padding:0px;
			list-style-type:none;

			li {
				display:inline-block;

					a {
						text-decoration:none;
						padding:3px;
						}
					.current, a:hover {
						background:$medium;
						color:#fff;
						text-shadow: -1px 0px 1px #000;
						}
				}
			}
		}
	}

.container {
		background:$medium url("../images/background.jpg") no-repeat top right;
}

section {
		background:#000 url("../images/headshot.jpg") no-repeat right;
		max-width:960px;
		margin:0 auto;

		article {
			background:#000;
			padding:3%;
			width:30%;
		}
}

footer {
	background:$dark;
	padding:1rem 0;

	p {
	text-align:right;
	margin:0 auto;
	max-width:960px;
	}
}

.board {
	padding:15px;
	margin:0 auto;
	max-width:1000px;

	figure {
		background:#fff;
		box-shadow:-1px 0px 3px #0f0f0f;
		display:inline-block;
		margin:1rem;
		padding:.5rem;
		position:relative;
		}

	figcaption {
		background:rgba(255,255,255,.7);
		bottom:.5rem;
		color:#777;
		height:1.5em;
		text-align:right;
		padding:5px;
		position:absolute;
		right:5px;
		width:280px;
	}
	}